###
# campaign file settings
###
[CAMPAIGN]
#
# install directory (where is MekHQ installed)
#
installdir = ~/Games/MegaMek/mekhq-windows-0.49.7/
#
# directory to find savegames in
#
savedir = ~/Games/MegaMek/
#
# name of campaign savegames to look for
#
name = Star League Reborn
#
# are savegames compressed (yes|no|auto)
#
compressed = auto

###
# award tracking settings
###
[AWARDS]
#
# are awards given on the same day that they are earned?
#
same_day = no
#
# should awards be validated against eligible criteria?
#
validate = yes
#
# are we concerned about individual award criteria (pilot kills, combat injuries, etc)
#
individual = yes
#
# are we concerned about organization-level award criteria (lance, company, battalion kills)
# 'lance' == 'deployable force'
# 'company' == 'force containing lances'
# 'battalion' == 'force containing companies'
#
lance = yes
company = yes
battalion = yes
#
# are we concerned about scenario-level awards (ignored if individual and lance awards are turned off)
#
scenario = yes
#
# are we concerned about mission-level awards
#
mission = yes
#
# are we concerned about campaign-type awards (war on piracy, succession war ribbons, etc)
#
campaign = yes
#
# are we concerned about longevity awards (Longevity, Good Conduct, etc)
#
longevity = no
#
# are we concerned about performance awards (Support Person of the Year, etc)
#
performance = no
