#
# campaign file settings
#
[CAMPAIGN]
# directory to find savegames in
savedir = ~/Games/MegaMek/
# name of campaign savegames to look for
name = Star League Reborn
# are savegames compressed (yes|no|auto)
compressed = auto

#
# award tracking settings
#
[AWARDS]
# are awards given on the same day that they are earned?
same_day = no
# should awards be validated against eligible criteria?
validate = yes
# are we concerned about individual award criteria (pilot kills, combat injuries, etc)
individual = yes
# are we concerned about lance award criteria (lance kills)
lance = yes
# are we concenred about company award criteria (company kills)
company = yes
# are we concerned about scenario-level awards (ignored if individual and lance awards are turned off)
scenario = yes
# are we concerned about mission-level awards
mission = yes
# are we concerned about campaign-type awards (war on piracy, succession war ribbons, etc)
campaign = yes
